@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
}

.chat-room-layout {
  background: linear-gradient(258deg,#a577b3,#305485,#15579c,#f84494);
  background-size: 240% 240%;
  animation: gradient-animation 16s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}